<!--The layout.html template is used-->
{% extends "layout.html" %}

<!--The webpage titled is established-->
{% block title %}Sign-Up Page{% endblock %}

<!--The contents of block content are unique to this webpage-->
{% block content %}

<form method="POST">

    <!--Page title-->
    <br><br>
    <h1 align="center"><b>Create Account</b></h1>
    <br><br>

    <!--Used to styalise the input fields with BootStrap-->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form>

                    <!--input field for emails-->
                    <!--made so that the email can act as a placeholder-->
                    <!--When the user tries to make an input, the placeholder is moved up-->
                    <div class="form-floating mb-3">
                        <input 
                            type="email" 
                            class="form-control" 
                            id="email" 
                            placeholder="Email">
                        <label for="email">Enter your Email...</label>
                    </div>

                    <!--The same applies to the password-->
                    <div class="form-floating mb-3">
                        <input 
                            type="password" 
                            class="form-control" 
                            id="password" 
                            placeholder="Password">
                        <label for="password">Enter your Password...</label>
                    </div>

                </form>
            </div>
        </div>
    </div>
    
    
    <!--Submission box-->
    <br><br>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Sign-Up</button>
    </div>

</form>

{% endblock %}